/* TYPOGRAPHY */
body {
  font-family: "SF UI Display Light";
  font-size: 15px;
  color: #4a4a4a;
}

.heading1 {
  font-family: "SF UI Display Heavy";
  font-size: 36px;
  letter-spacing: 0.29px;
}
.heading2 {
  font-family: "SF UI Display Bold";
  font-size: 26px;
  letter-spacing: 0.21px;
}
.heading3 {
  font-family: "SF UI Display Heavy";
  font-size: 24px;
  letter-spacing: 0.19px;
}
.heading4 {
  font-family: "SF UI Display Heavy";
  font-size: 20px;
}
.heading5 {
  font-family: "SF UI Display Semibold";
  font-size: 20px;
}
.heading6 {
  font-family: "SF UI Display Semibold";
  font-size: 14px;
  letter-spacing: 0.11px;
}

/* Link & Button */
.btn {
  border: none;
  background: #262628;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "SF UI Display Medium";
  letter-spacing: 0.11px;
}
.big {
  font-family: "SF UI Display Semibold";
  line-height: 50px;
  font-size: 14px;
}
.default {
  font-size: 13px;
  line-height: 38px;
}
.small {
  font-size: 13px;
  line-height: 30px;
}
p {
  line-height: 18px;
}
.hidden {
  position: fixed;
  top: 0;
  left: -9999em;
  overflow: hidden;
  visibility: hidden;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
.uppercase {
  text-transform: uppercase;
}

/* --------------- sprite images ------------- */
.sprite {
  background: url(../images/sprite.png) no-repeat;
  background-size: 376px 600px;
  display: inline-block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 18px;
  height: 18px;
}
.touchevents .sprite {
  background-image: url(../images/sprite@2x.png);
}

.sprite.arrow_left {
  background-position: -236px -150px;
}
.sprite.close {
  background-position: -118px -390px;
}
.sprite.aside_menu_toggle {
  background-position: 0 -150px;
}
.sprite.wishlist {
  background-position: -118px -246px;
}
.sprite.cart {
  background-position: -118px -198px;
}
.sprite.plus {
  background-position: -354px -150px;
}
.sprite.search_icon {
  background-position: 0px -102px;
}
.sprite.barcode {
  background-position: 0px -582px;
}
.sprite.share {
  background-position: -355px -247px;
}

.sprite.cart_item_del {
  background-position: -354px -342px;
}

.sm_padding {
  padding: 0 17px;
}
.big_padding {
  padding: 80px 0;
}

hr {
  border: none;
  border-top: 1px solid #f5f5f5;
  margin: 0;
}
