@import url(reset.css);
@import url(webfonts.css);
@import url(common.css);

/* -------------- FRONT PAGE -------------- */
.front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.front .main_content {
  flex: 1;
  padding: 37px 0;
  overflow: hidden;
}

.main_footer {
  display: flex;
}
.main_footer a {
  flex: 1;
}
.main_slide_wrapper {
  width: 270px;
  margin: 0 auto;
  height: 390px;
  position: relative;
}
.swiper-pagination-bullet-active {
  background: #262628;
}
.main_content_info {
  margin-top: 24px;
}
.main_content h1 {
  text-align: center;
  margin-bottom: 24px;
}
.main_content p {
  width: 80%;
  margin: 0 auto;
  padding: 0 25px;
  box-sizing: border-box;
  text-align: center;
}
/* -------------- SIGN IN & UP -------------- */
header {
  display: flex;
  justify-content: flex-start;
  padding: 36px 22px 0 22px;
  align-items: center;
}

.sub_content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sub_content h1,
.sub_content fieldset {
  padding: 38px 38px 0 38px;
}
.sub_content h1 {
  text-align: left;
}
.login_form {
  margin-top: 73px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.login_form a {
  width: 100%;
  text-align: center;
}
.login_form .btn {
  width: 100%;
  border: none;
}
.login_form label {
  display: block;
  color: #c2c4ca;
}
.login_form fieldset {
  width: 100%;
}
.login_form fieldset input {
  border: none;
  border-bottom: 1px solid #c2c4ca;
  height: 45px;
  line-height: 45px;
  color: #4a4a4a;
  width: 100%;
  display: block;
  outline: none;
}
.login_form fieldset input:focus {
  border-bottom-color: #979797;
}
.login_form fieldset input:first-of-type {
  margin-bottom: 62px;
}
.login_form fieldset input::placeholder {
  color: #c2c4ca;
}
.signup_form fieldset input:not(:last-of-type) {
  margin-bottom: 30px;
}
header.signup {
  background: url(../images/signUp_bg.jpg) no-repeat left top/cover;
  height: 286px;
  padding-top: 36px;
  align-items: flex-start;
  box-sizing: border-box;
}
header.signup h1 {
  width: 100%;
  text-align: center;
}

/* -------------- HOME -------------- */
.home_content {
  flex: 1;
}
.home_header {
  display: flex;
  justify-content: space-between;
  padding: 36px 22px;
}
.top_links .wishlist {
  margin-right: 34px;
}
.categories_slide {
  padding: 22px 0;
  overflow-x: hidden;
}
.categories_slide a {
  font-size: 24px;
  font-family: "SF UI Display Heavy";
  color: #c2c4ca;
  white-space: nowrap;
  margin-right: 45px;
}
.categories_slide .slick-active {
  color: #000;
}
.products_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products_list li {
  width: 48%;
  text-align: center;
  margin-bottom: 25px;
}
.products_list .picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 224px;
  text-indent: -9999em;
}
.products_list li h3 {
  font-size: 13px;
  font-family: "SF UI Display Medium";
  margin-top: 19px;
}
.products_list li h4 {
  margin-top: 3px;
  font-size: 12px;
}
/* ----------------- ASIDE -------------------- */
body {
  position: relative;
  left: 0;
  transition: 0.4s;
}
.aside_active {
  width: 500px;
  left: 70%;
  position: fixed;
  box-shadow: -5px 0 10px rgba(245, 245, 245, 1);
}
aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70%;
  display: flex;
  flex-direction: column;
  left: -70%;
  transition: 0.4s;
  /* box-shadow:inset -3px 0 3px rgba(0,0,0,.4); */
}
.aside_active aside {
  left: 0;
}
.aside_content {
  flex: 1;
}
aside header {
  height: 132px;
}
aside header h2 {
  text-transform: uppercase;
}
aside header img {
  margin-right: 14px;
}
.aside_content .categories {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.aside_content .categories ul {
  display: none;
}
.aside_content .categories li {
  line-height: 55px;
  padding: 0 22px;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
}
.aside_content .categories li span {
  position: absolute;
  right: 22px;
  top: 21px;
}
.aside_content .categories li:last-child {
  border: none;
}
.aside_content .categories li h3 {
  text-transform: uppercase;
}
.aside_menus {
  margin-top: 14px;
}
.aside_menus li {
  line-height: 55px;
  padding: 0 22px;
  text-transform: uppercase;
}
.top_links .cart {
  position: relative;
  text-indent: -9999em;
  overflow: initial;
}
.top_links .cart:before {
  content: attr(data-cart-count);
  width: 19px;
  height: 19px;
  background: #262628;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  text-indent: 0;
  line-height: 19px;
  text-align: center;
  font-size: 14px;
}
/* -------------- PRODUCT DETAILS -------------- */
